<?xml version="1.0" encoding="UTF-8"?>
<launch>

   <!-- global params-->
    <arg name="localization_type" default="AMCL"/>
    <!-- Possible variants
        FIXED_ODOM   
        AMCL
        GMAPPING
    -->
    <arg name="map" default="my_map"/>
    <!-- Possible maps 
        nothing
        my_map
    -->
  
    <!-- URDF description -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mark1)/src/mark1_description/urdf/mark1.xacro'"/>

   <!-- TF stuff -->
        <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>

        <!-- Combine joint values -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    
        <!-- fixed odom -->
    <!--node pkg="tf" type="static_transform_publisher" name="static_odom_broadcaster"
        args="0 0 0 0 0 0 map odom 100"/-->     
    
    <!-- run gazebo and spawn mybot -->
    <include file="$(find mark1)/src/mark1_gazebo/launch/mark1_world.launch"/>
    
    <!-- software -->

    <include file="$(find mark1)/src/mark1_config/launch/mark1_software.launch">
	<arg name="localization_type" value="$(arg localization_type)"/>
        <arg name="map" value="$(arg map)"/>
    </include>
  
    
     <!-- visualization -->      
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find mark1)/src/mark1_config/rviz/mark1_gazebo.rviz"/>      
</launch>
