<?xml version="1.0" encoding="UTF-8"?>
<launch>

  
	
	 <arg name="localization_type" default="AMCL"/>
    <!-- Possible variants
        FIXED_ODOM   
        AMCL
       GMAPPING
    -->
 
	<arg name="map" default="nothing"/>
	<!-- Possible maps 
        nothing
        my_map
		-->
  
    <!-- URDF description -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mark1)/src/mark1_description/urdf/mark1.xacro'"/>

   <!-- TF stuff -->
        <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>

        <!-- Combine joint values -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  
    
    <!-- run gazebo and spawn mybot -->
    <include file="$(find mark1)/src/mark1_gazebo/launch/mark1_world.launch"/>
    
   
        <include file="$(find mark1)/src/mark1_config/launch/mark1_software.launch">
		    <arg name="localization_type" value="$(arg localization_type)"/>
			<arg name="map" value="$(arg map)"/>
        </include>
        
 
     <!-- visualization -->      
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find mark1)/src/mark1_config/rviz/mark1_gazebo.rviz"/>      
</launch>
